`PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=mark@2004
DB_NAME=klincity_uganda
JWT_SECRET=hey4nrn983j98fy4387ct398uie021ixer-9j23y98ycr30930urx3yr98y3xdmu983yx08973
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:5173
